<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vh_vpn.vpn" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <vh_vpn.vpn>
            <setting name="vpn_host" serializeAs="String">
                <value>www.petrolcard.hu</value>
            </setting>
            <setting name="vpn_username" serializeAs="String">
                <value>jundjkft</value>
            </setting>
          <setting name="vpn_password" serializeAs="String">
            <value>jundjkft</value>
          </setting>
            <setting name="vpn_entry_name" serializeAs="String">
                <value>vhvpn</value>
            </setting>
            <setting name="max_attempt_to_reconnect" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="checking_state_interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="vpn_test_ip" serializeAs="String">
                <value>192.168.75.8</value>
            </setting>
            <setting name="BackupDirectory" serializeAs="String">
                <value>DefaultFolder</value>
            </setting>
            <setting name="wait_after_failed_connection" serializeAs="String">
                <value>60</value>
            </setting>
        </vh_vpn.vpn>
    </applicationSettings>
</configuration>
